<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.BillCustomersMapper">
  <resultMap id="BaseResultMap" type="com.uzykj.mall.pojo.BillCustomers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="CHAR" property="code" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="scale" jdbcType="DECIMAL" property="scale" />
    <result column="actual_money" jdbcType="DECIMAL" property="actualMoney" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, order_id, seller_id, money, scale, actual_money, status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill_customers
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill_customers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uzykj.mall.pojo.BillCustomers">
    insert into bill_customers (id, code, order_id, 
      seller_id, money, scale, 
      actual_money, status, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=CHAR}, #{orderId,jdbcType=INTEGER}, 
      #{sellerId,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, #{scale,jdbcType=DECIMAL}, 
      #{actualMoney,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uzykj.mall.pojo.BillCustomers">
    insert into bill_customers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="actualMoney != null">
        actual_money,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=CHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=DECIMAL},
      </if>
      <if test="actualMoney != null">
        #{actualMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uzykj.mall.pojo.BillCustomers">
    update bill_customers
    <set>
      <if test="code != null">
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=DECIMAL},
      </if>
      <if test="actualMoney != null">
        actual_money = #{actualMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uzykj.mall.pojo.BillCustomers">
    update bill_customers
    set code = #{code,jdbcType=CHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      seller_id = #{sellerId,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      scale = #{scale,jdbcType=DECIMAL},
      actual_money = #{actualMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>