<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.CouponsUsersMapper">
  <resultMap id="BaseResultMap" type="com.uzykj.mall.pojo.CouponsUsers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="coupon_status" jdbcType="VARCHAR" property="couponStatus" />
    <result column="data_flag" jdbcType="CHAR" property="dataFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coupon_id, user_id, receive_time, coupon_status, data_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupons_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coupons_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uzykj.mall.pojo.CouponsUsers">
    insert into coupons_users (id, coupon_id, user_id, 
      receive_time, coupon_status, data_flag
      )
    values (#{id,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{receiveTime,jdbcType=TIMESTAMP}, #{couponStatus,jdbcType=VARCHAR}, #{dataFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uzykj.mall.pojo.CouponsUsers">
    insert into coupons_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="couponStatus != null">
        coupon_status,
      </if>
      <if test="dataFlag != null">
        data_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponStatus != null">
        #{couponStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uzykj.mall.pojo.CouponsUsers">
    update coupons_users
    <set>
      <if test="couponId != null">
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null">
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponStatus != null">
        coupon_status = #{couponStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        data_flag = #{dataFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uzykj.mall.pojo.CouponsUsers">
    update coupons_users
    set coupon_id = #{couponId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      coupon_status = #{couponStatus,jdbcType=VARCHAR},
      data_flag = #{dataFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>