<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.CouponsMapper">
  <resultMap id="BaseResultMap" type="com.uzykj.mall.pojo.Coupons">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coupon_code" jdbcType="CHAR" property="couponCode" />
    <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
    <result column="coupon_type" jdbcType="CHAR" property="couponType" />
    <result column="coupon_money" jdbcType="DECIMAL" property="couponMoney" />
    <result column="spend_money" jdbcType="DECIMAL" property="spendMoney" />
    <result column="rebate" jdbcType="INTEGER" property="rebate" />
    <result column="coupon_des" jdbcType="VARCHAR" property="couponDes" />
    <result column="send_num" jdbcType="INTEGER" property="sendNum" />
    <result column="receive_num" jdbcType="INTEGER" property="receiveNum" />
    <result column="send_start_time" jdbcType="DATE" property="sendStartTime" />
    <result column="send_end_time" jdbcType="DATE" property="sendEndTime" />
    <result column="valid_start_time" jdbcType="DATE" property="validStartTime" />
    <result column="valid_end_time" jdbcType="DATE" property="validEndTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="data_flag" jdbcType="CHAR" property="dataFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coupon_code, coupon_name, coupon_type, coupon_money, spend_money, rebate, coupon_des, 
    send_num, receive_num, send_start_time, send_end_time, valid_start_time, valid_end_time, 
    create_time, data_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupons
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coupons
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uzykj.mall.pojo.Coupons">
    insert into coupons (id, coupon_code, coupon_name, 
      coupon_type, coupon_money, spend_money, 
      rebate, coupon_des, send_num, 
      receive_num, send_start_time, send_end_time, 
      valid_start_time, valid_end_time, create_time, 
      data_flag)
    values (#{id,jdbcType=INTEGER}, #{couponCode,jdbcType=CHAR}, #{couponName,jdbcType=VARCHAR}, 
      #{couponType,jdbcType=CHAR}, #{couponMoney,jdbcType=DECIMAL}, #{spendMoney,jdbcType=DECIMAL}, 
      #{rebate,jdbcType=INTEGER}, #{couponDes,jdbcType=VARCHAR}, #{sendNum,jdbcType=INTEGER}, 
      #{receiveNum,jdbcType=INTEGER}, #{sendStartTime,jdbcType=DATE}, #{sendEndTime,jdbcType=DATE}, 
      #{validStartTime,jdbcType=DATE}, #{validEndTime,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dataFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uzykj.mall.pojo.Coupons">
    insert into coupons
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="couponCode != null">
        coupon_code,
      </if>
      <if test="couponName != null">
        coupon_name,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="couponMoney != null">
        coupon_money,
      </if>
      <if test="spendMoney != null">
        spend_money,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
      <if test="couponDes != null">
        coupon_des,
      </if>
      <if test="sendNum != null">
        send_num,
      </if>
      <if test="receiveNum != null">
        receive_num,
      </if>
      <if test="sendStartTime != null">
        send_start_time,
      </if>
      <if test="sendEndTime != null">
        send_end_time,
      </if>
      <if test="validStartTime != null">
        valid_start_time,
      </if>
      <if test="validEndTime != null">
        valid_end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="dataFlag != null">
        data_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="couponCode != null">
        #{couponCode,jdbcType=CHAR},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=CHAR},
      </if>
      <if test="couponMoney != null">
        #{couponMoney,jdbcType=DECIMAL},
      </if>
      <if test="spendMoney != null">
        #{spendMoney,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=INTEGER},
      </if>
      <if test="couponDes != null">
        #{couponDes,jdbcType=VARCHAR},
      </if>
      <if test="sendNum != null">
        #{sendNum,jdbcType=INTEGER},
      </if>
      <if test="receiveNum != null">
        #{receiveNum,jdbcType=INTEGER},
      </if>
      <if test="sendStartTime != null">
        #{sendStartTime,jdbcType=DATE},
      </if>
      <if test="sendEndTime != null">
        #{sendEndTime,jdbcType=DATE},
      </if>
      <if test="validStartTime != null">
        #{validStartTime,jdbcType=DATE},
      </if>
      <if test="validEndTime != null">
        #{validEndTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uzykj.mall.pojo.Coupons">
    update coupons
    <set>
      <if test="couponCode != null">
        coupon_code = #{couponCode,jdbcType=CHAR},
      </if>
      <if test="couponName != null">
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        coupon_type = #{couponType,jdbcType=CHAR},
      </if>
      <if test="couponMoney != null">
        coupon_money = #{couponMoney,jdbcType=DECIMAL},
      </if>
      <if test="spendMoney != null">
        spend_money = #{spendMoney,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=INTEGER},
      </if>
      <if test="couponDes != null">
        coupon_des = #{couponDes,jdbcType=VARCHAR},
      </if>
      <if test="sendNum != null">
        send_num = #{sendNum,jdbcType=INTEGER},
      </if>
      <if test="receiveNum != null">
        receive_num = #{receiveNum,jdbcType=INTEGER},
      </if>
      <if test="sendStartTime != null">
        send_start_time = #{sendStartTime,jdbcType=DATE},
      </if>
      <if test="sendEndTime != null">
        send_end_time = #{sendEndTime,jdbcType=DATE},
      </if>
      <if test="validStartTime != null">
        valid_start_time = #{validStartTime,jdbcType=DATE},
      </if>
      <if test="validEndTime != null">
        valid_end_time = #{validEndTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFlag != null">
        data_flag = #{dataFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uzykj.mall.pojo.Coupons">
    update coupons
    set coupon_code = #{couponCode,jdbcType=CHAR},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      coupon_type = #{couponType,jdbcType=CHAR},
      coupon_money = #{couponMoney,jdbcType=DECIMAL},
      spend_money = #{spendMoney,jdbcType=DECIMAL},
      rebate = #{rebate,jdbcType=INTEGER},
      coupon_des = #{couponDes,jdbcType=VARCHAR},
      send_num = #{sendNum,jdbcType=INTEGER},
      receive_num = #{receiveNum,jdbcType=INTEGER},
      send_start_time = #{sendStartTime,jdbcType=DATE},
      send_end_time = #{sendEndTime,jdbcType=DATE},
      valid_start_time = #{validStartTime,jdbcType=DATE},
      valid_end_time = #{validEndTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      data_flag = #{dataFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>