<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.LogSysMoneysMapper">
  <resultMap id="BaseResultMap" type="com.uzykj.mall.pojo.LogSysMoneys">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="target_type" jdbcType="CHAR" property="targetType" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="data_src" jdbcType="CHAR" property="dataSrc" />
    <result column="data_id" jdbcType="INTEGER" property="dataId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="flag" jdbcType="CHAR" property="flag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, target_type, target_id, data_src, data_id, remark, money, flag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_sys_moneys
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_sys_moneys
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uzykj.mall.pojo.LogSysMoneys">
    insert into log_sys_moneys (id, target_type, target_id, 
      data_src, data_id, remark, 
      money, flag, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{targetType,jdbcType=CHAR}, #{targetId,jdbcType=INTEGER}, 
      #{dataSrc,jdbcType=CHAR}, #{dataId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{flag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uzykj.mall.pojo.LogSysMoneys">
    insert into log_sys_moneys
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="targetType != null">
        target_type,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="dataSrc != null">
        data_src,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="targetType != null">
        #{targetType,jdbcType=CHAR},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="dataSrc != null">
        #{dataSrc,jdbcType=CHAR},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uzykj.mall.pojo.LogSysMoneys">
    update log_sys_moneys
    <set>
      <if test="targetType != null">
        target_type = #{targetType,jdbcType=CHAR},
      </if>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="dataSrc != null">
        data_src = #{dataSrc,jdbcType=CHAR},
      </if>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uzykj.mall.pojo.LogSysMoneys">
    update log_sys_moneys
    set target_type = #{targetType,jdbcType=CHAR},
      target_id = #{targetId,jdbcType=INTEGER},
      data_src = #{dataSrc,jdbcType=CHAR},
      data_id = #{dataId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      flag = #{flag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>