<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.uzykj.mall.pojo.Orders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="order_status" jdbcType="CHAR" property="orderStatus" />
    <result column="buyer_show" jdbcType="CHAR" property="buyerShow" />
    <result column="seller_show" jdbcType="CHAR" property="sellerShow" />
    <result column="pay_from" jdbcType="CHAR" property="payFrom" />
    <result column="user_area_code" jdbcType="CHAR" property="userAreaCode" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="CHAR" property="userPhone" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="user_post_code" jdbcType="CHAR" property="userPostCode" />
    <result column="is_invoice" jdbcType="CHAR" property="isInvoice" />
    <result column="invoice_client" jdbcType="VARCHAR" property="invoiceClient" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="order_remarks" jdbcType="VARCHAR" property="orderRemarks" />
    <result column="deliver_money" jdbcType="DECIMAL" property="deliverMoney" />
    <result column="is_refund" jdbcType="CHAR" property="isRefund" />
    <result column="refund_remark" jdbcType="VARCHAR" property="refundRemark" />
    <result column="order_unique" jdbcType="VARCHAR" property="orderUnique" />
    <result column="settlement_id" jdbcType="INTEGER" property="settlementId" />
    <result column="real_total_money" jdbcType="DECIMAL" property="realTotalMoney" />
    <result column="poundage_rate" jdbcType="REAL" property="poundageRate" />
    <result column="poundage_money" jdbcType="DECIMAL" property="poundageMoney" />
    <result column="use_score" jdbcType="INTEGER" property="useScore" />
    <result column="score_money" jdbcType="DECIMAL" property="scoreMoney" />
    <result column="coupon_money" jdbcType="DECIMAL" property="couponMoney" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="paid_time" jdbcType="TIMESTAMP" property="paidTime" />
    <result column="shipped_time" jdbcType="TIMESTAMP" property="shippedTime" />
    <result column="comfirm_time" jdbcType="TIMESTAMP" property="comfirmTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, seller_id, user_id, total_money, order_status, buyer_show, seller_show, 
    pay_from, user_area_code, user_address, user_name, user_phone, user_tel, user_post_code, 
    is_invoice, invoice_client, invoice_code, order_remarks, deliver_money, is_refund, 
    refund_remark, order_unique, settlement_id, real_total_money, poundage_rate, poundage_money, 
    use_score, score_money, coupon_money, create_time, paid_time, shipped_time, comfirm_time, 
    close_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uzykj.mall.pojo.Orders">
    insert into orders (id, order_no, seller_id, 
      user_id, total_money, order_status, 
      buyer_show, seller_show, pay_from, 
      user_area_code, user_address, user_name, 
      user_phone, user_tel, user_post_code, 
      is_invoice, invoice_client, invoice_code, 
      order_remarks, deliver_money, is_refund, 
      refund_remark, order_unique, settlement_id, 
      real_total_money, poundage_rate, poundage_money, 
      use_score, score_money, coupon_money, 
      create_time, paid_time, shipped_time, 
      comfirm_time, close_time)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=CHAR}, #{sellerId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{totalMoney,jdbcType=DECIMAL}, #{orderStatus,jdbcType=CHAR}, 
      #{buyerShow,jdbcType=CHAR}, #{sellerShow,jdbcType=CHAR}, #{payFrom,jdbcType=CHAR}, 
      #{userAreaCode,jdbcType=CHAR}, #{userAddress,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=CHAR}, #{userTel,jdbcType=VARCHAR}, #{userPostCode,jdbcType=CHAR}, 
      #{isInvoice,jdbcType=CHAR}, #{invoiceClient,jdbcType=VARCHAR}, #{invoiceCode,jdbcType=VARCHAR}, 
      #{orderRemarks,jdbcType=VARCHAR}, #{deliverMoney,jdbcType=DECIMAL}, #{isRefund,jdbcType=CHAR}, 
      #{refundRemark,jdbcType=VARCHAR}, #{orderUnique,jdbcType=VARCHAR}, #{settlementId,jdbcType=INTEGER}, 
      #{realTotalMoney,jdbcType=DECIMAL}, #{poundageRate,jdbcType=REAL}, #{poundageMoney,jdbcType=DECIMAL}, 
      #{useScore,jdbcType=INTEGER}, #{scoreMoney,jdbcType=DECIMAL}, #{couponMoney,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{paidTime,jdbcType=TIMESTAMP}, #{shippedTime,jdbcType=TIMESTAMP}, 
      #{comfirmTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uzykj.mall.pojo.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="buyerShow != null">
        buyer_show,
      </if>
      <if test="sellerShow != null">
        seller_show,
      </if>
      <if test="payFrom != null">
        pay_from,
      </if>
      <if test="userAreaCode != null">
        user_area_code,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="userPostCode != null">
        user_post_code,
      </if>
      <if test="isInvoice != null">
        is_invoice,
      </if>
      <if test="invoiceClient != null">
        invoice_client,
      </if>
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="orderRemarks != null">
        order_remarks,
      </if>
      <if test="deliverMoney != null">
        deliver_money,
      </if>
      <if test="isRefund != null">
        is_refund,
      </if>
      <if test="refundRemark != null">
        refund_remark,
      </if>
      <if test="orderUnique != null">
        order_unique,
      </if>
      <if test="settlementId != null">
        settlement_id,
      </if>
      <if test="realTotalMoney != null">
        real_total_money,
      </if>
      <if test="poundageRate != null">
        poundage_rate,
      </if>
      <if test="poundageMoney != null">
        poundage_money,
      </if>
      <if test="useScore != null">
        use_score,
      </if>
      <if test="scoreMoney != null">
        score_money,
      </if>
      <if test="couponMoney != null">
        coupon_money,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="paidTime != null">
        paid_time,
      </if>
      <if test="shippedTime != null">
        shipped_time,
      </if>
      <if test="comfirmTime != null">
        comfirm_time,
      </if>
      <if test="closeTime != null">
        close_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="buyerShow != null">
        #{buyerShow,jdbcType=CHAR},
      </if>
      <if test="sellerShow != null">
        #{sellerShow,jdbcType=CHAR},
      </if>
      <if test="payFrom != null">
        #{payFrom,jdbcType=CHAR},
      </if>
      <if test="userAreaCode != null">
        #{userAreaCode,jdbcType=CHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=CHAR},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userPostCode != null">
        #{userPostCode,jdbcType=CHAR},
      </if>
      <if test="isInvoice != null">
        #{isInvoice,jdbcType=CHAR},
      </if>
      <if test="invoiceClient != null">
        #{invoiceClient,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="orderRemarks != null">
        #{orderRemarks,jdbcType=VARCHAR},
      </if>
      <if test="deliverMoney != null">
        #{deliverMoney,jdbcType=DECIMAL},
      </if>
      <if test="isRefund != null">
        #{isRefund,jdbcType=CHAR},
      </if>
      <if test="refundRemark != null">
        #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderUnique != null">
        #{orderUnique,jdbcType=VARCHAR},
      </if>
      <if test="settlementId != null">
        #{settlementId,jdbcType=INTEGER},
      </if>
      <if test="realTotalMoney != null">
        #{realTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="poundageRate != null">
        #{poundageRate,jdbcType=REAL},
      </if>
      <if test="poundageMoney != null">
        #{poundageMoney,jdbcType=DECIMAL},
      </if>
      <if test="useScore != null">
        #{useScore,jdbcType=INTEGER},
      </if>
      <if test="scoreMoney != null">
        #{scoreMoney,jdbcType=DECIMAL},
      </if>
      <if test="couponMoney != null">
        #{couponMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paidTime != null">
        #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippedTime != null">
        #{shippedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comfirmTime != null">
        #{comfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uzykj.mall.pojo.Orders">
    update orders
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="buyerShow != null">
        buyer_show = #{buyerShow,jdbcType=CHAR},
      </if>
      <if test="sellerShow != null">
        seller_show = #{sellerShow,jdbcType=CHAR},
      </if>
      <if test="payFrom != null">
        pay_from = #{payFrom,jdbcType=CHAR},
      </if>
      <if test="userAreaCode != null">
        user_area_code = #{userAreaCode,jdbcType=CHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=CHAR},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userPostCode != null">
        user_post_code = #{userPostCode,jdbcType=CHAR},
      </if>
      <if test="isInvoice != null">
        is_invoice = #{isInvoice,jdbcType=CHAR},
      </if>
      <if test="invoiceClient != null">
        invoice_client = #{invoiceClient,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="orderRemarks != null">
        order_remarks = #{orderRemarks,jdbcType=VARCHAR},
      </if>
      <if test="deliverMoney != null">
        deliver_money = #{deliverMoney,jdbcType=DECIMAL},
      </if>
      <if test="isRefund != null">
        is_refund = #{isRefund,jdbcType=CHAR},
      </if>
      <if test="refundRemark != null">
        refund_remark = #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderUnique != null">
        order_unique = #{orderUnique,jdbcType=VARCHAR},
      </if>
      <if test="settlementId != null">
        settlement_id = #{settlementId,jdbcType=INTEGER},
      </if>
      <if test="realTotalMoney != null">
        real_total_money = #{realTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="poundageRate != null">
        poundage_rate = #{poundageRate,jdbcType=REAL},
      </if>
      <if test="poundageMoney != null">
        poundage_money = #{poundageMoney,jdbcType=DECIMAL},
      </if>
      <if test="useScore != null">
        use_score = #{useScore,jdbcType=INTEGER},
      </if>
      <if test="scoreMoney != null">
        score_money = #{scoreMoney,jdbcType=DECIMAL},
      </if>
      <if test="couponMoney != null">
        coupon_money = #{couponMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paidTime != null">
        paid_time = #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippedTime != null">
        shipped_time = #{shippedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comfirmTime != null">
        comfirm_time = #{comfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uzykj.mall.pojo.Orders">
    update orders
    set order_no = #{orderNo,jdbcType=CHAR},
      seller_id = #{sellerId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=CHAR},
      buyer_show = #{buyerShow,jdbcType=CHAR},
      seller_show = #{sellerShow,jdbcType=CHAR},
      pay_from = #{payFrom,jdbcType=CHAR},
      user_area_code = #{userAreaCode,jdbcType=CHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=CHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_post_code = #{userPostCode,jdbcType=CHAR},
      is_invoice = #{isInvoice,jdbcType=CHAR},
      invoice_client = #{invoiceClient,jdbcType=VARCHAR},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      order_remarks = #{orderRemarks,jdbcType=VARCHAR},
      deliver_money = #{deliverMoney,jdbcType=DECIMAL},
      is_refund = #{isRefund,jdbcType=CHAR},
      refund_remark = #{refundRemark,jdbcType=VARCHAR},
      order_unique = #{orderUnique,jdbcType=VARCHAR},
      settlement_id = #{settlementId,jdbcType=INTEGER},
      real_total_money = #{realTotalMoney,jdbcType=DECIMAL},
      poundage_rate = #{poundageRate,jdbcType=REAL},
      poundage_money = #{poundageMoney,jdbcType=DECIMAL},
      use_score = #{useScore,jdbcType=INTEGER},
      score_money = #{scoreMoney,jdbcType=DECIMAL},
      coupon_money = #{couponMoney,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      paid_time = #{paidTime,jdbcType=TIMESTAMP},
      shipped_time = #{shippedTime,jdbcType=TIMESTAMP},
      comfirm_time = #{comfirmTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>