<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.OrderProductsMapper">
  <resultMap id="BaseResultMap" type="com.uzykj.mall.pojo.OrderProducts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="product_type" jdbcType="CHAR" property="productType" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_nums" jdbcType="INTEGER" property="productNums" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="commission" jdbcType="DECIMAL" property="commission" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, product_type, product_id, product_nums, product_price, product_name, 
    commission
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_products
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_products
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uzykj.mall.pojo.OrderProducts">
    insert into order_products (id, order_id, product_type, 
      product_id, product_nums, product_price, 
      product_name, commission)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{productType,jdbcType=CHAR}, 
      #{productId,jdbcType=INTEGER}, #{productNums,jdbcType=INTEGER}, #{productPrice,jdbcType=DECIMAL}, 
      #{productName,jdbcType=VARCHAR}, #{commission,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.uzykj.mall.pojo.OrderProducts">
    insert into order_products
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productNums != null">
        product_nums,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="commission != null">
        commission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=CHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNums != null">
        #{productNums,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uzykj.mall.pojo.OrderProducts">
    update order_products
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=CHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNums != null">
        product_nums = #{productNums,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="commission != null">
        commission = #{commission,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uzykj.mall.pojo.OrderProducts">
    update order_products
    set order_id = #{orderId,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=CHAR},
      product_id = #{productId,jdbcType=INTEGER},
      product_nums = #{productNums,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_name = #{productName,jdbcType=VARCHAR},
      commission = #{commission,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>