<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uzykj.mall.dao.UserScoresMapper">
  <resultMap id="BaseResultMap" type="com.uzykj.mall.pojo.UserScores">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="score_flag" jdbcType="CHAR" property="scoreFlag" />
    <result column="data_src" jdbcType="CHAR" property="dataSrc" />
    <result column="data_id" jdbcType="INTEGER" property="dataId" />
    <result column="data_remarks" jdbcType="VARCHAR" property="dataRemarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, score, score_flag, data_src, data_id, data_remarks, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_scores
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_scores
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uzykj.mall.pojo.UserScores">
    insert into user_scores (id, user_id, score, 
      score_flag, data_src, data_id, 
      data_remarks, create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{scoreFlag,jdbcType=CHAR}, #{dataSrc,jdbcType=CHAR}, #{dataId,jdbcType=INTEGER}, 
      #{dataRemarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uzykj.mall.pojo.UserScores">
    insert into user_scores
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="scoreFlag != null">
        score_flag,
      </if>
      <if test="dataSrc != null">
        data_src,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="dataRemarks != null">
        data_remarks,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="scoreFlag != null">
        #{scoreFlag,jdbcType=CHAR},
      </if>
      <if test="dataSrc != null">
        #{dataSrc,jdbcType=CHAR},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=INTEGER},
      </if>
      <if test="dataRemarks != null">
        #{dataRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uzykj.mall.pojo.UserScores">
    update user_scores
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="scoreFlag != null">
        score_flag = #{scoreFlag,jdbcType=CHAR},
      </if>
      <if test="dataSrc != null">
        data_src = #{dataSrc,jdbcType=CHAR},
      </if>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=INTEGER},
      </if>
      <if test="dataRemarks != null">
        data_remarks = #{dataRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uzykj.mall.pojo.UserScores">
    update user_scores
    set user_id = #{userId,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      score_flag = #{scoreFlag,jdbcType=CHAR},
      data_src = #{dataSrc,jdbcType=CHAR},
      data_id = #{dataId,jdbcType=INTEGER},
      data_remarks = #{dataRemarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>